#:schema https://json.schemastore.org/any.json
root = "."
tmp_dir = "tmp"

[build]
bin = "./main"
# cmd = "templ generate ; go build -o ./main.exe ./projects/homepage/cmd/"
cmd = "tailwind/tailwindcss.exe -i tailwind/tailwindcss.css -o shared/static/tailwindcss.css --minify ; templ generate ; go build -o ./main.exe ./projects/deario/cmd/"
delay = 1000
exclude_dir = [
  "tmp",
  "data",
  "static",
  "vendor",
  "functions",
  "_liveserver",
  "shared\\log",
  "node_modules",
]
exclude_file = []
exclude_regex = [".*_templ.go"]
exclude_unchanged = false
follow_symlink = false
full_bin = ""
include_dir = []
include_ext = ["go", "tpl", "tmpl", "templ", "html"]
kill_delay = "1s"
log = "build-errors.log"
send_interrupt = true
stop_on_error = true

[color]
app = ""
build = "yellow"
main = "magenta"
runner = "green"
watcher = "cyan"

[log]
time = false

[misc]
clean_on_exit = false

[screen]
clear_on_rebuild = false

[proxy]
enabled = true
proxy_port = 8080
app_port = 8002
