package views

templ Hello(name string) {
	<p>{ name }</p>
}

templ Index() {
	<!DOCTYPE html>
	<html>
		@Header()
		<body>
			<div class="container">
				<div class="box">
					@Hello("World")
				</div>
				<button class="button">Click</button>
			</div>
		</body>
	</html>
}
