[Unit]
Description=Deario Admin Service
After=network.target

[Service]
ExecStart=/home/ubuntu/app/deario-admin serve --dir /home/ubuntu/app/projects/deario/pb_data --http=127.0.0.1:9002
WorkingDirectory=/home/ubuntu/app
Restart=always
User=root
Group=root

[Install]
WantedBy=multi-user.target
