[Unit]
Description=Deario Service
After=network.target

[Service]
Environment=ENV=prod
ExecStart=/home/ubuntu/app/deario
WorkingDirectory=/home/ubuntu/app
Restart=always
User=root
Group=root

[Install]
WantedBy=multi-user.target

