svg {
  fill: none !important;
}

.a‑login {
  min-width: 60px;
  display: inline-block;
  text-align: center;
}

.u-fit-h‑18rem {
  block-size: 18rem !important;
}

.u-text-ellipsis‑65px {
  max-width: 65px;
  white-space: nowrap !important;
  overflow: hidden;
  text-overflow: ellipsis;
  display: block;
}
