@import "markdown.css";

:root {
  --font-family: "Gamja Flower";
}

body {
  font-family: var(--font-family);
}

.has-diary::before {
  content: "";
  display: block;
  width: 4px;
  height: 4px;
  margin: 3px auto -7px;
  background: var(--primary);
  border-radius: 50%;
}

.microphone {
  position: absolute;
  right: 3px;
  top: 16rem;
  z-index: 1;
}
